.nav-parent{
    height: 64px;
    top: 0px;
    width: 100%;
    position: fixed;
    z-index: 1;
    box-shadow : 0px 3px 4px 1px #000;
}
.nav-base{
    display: flex;
    font-size: 1.2rem;
    flex-direction: row;
    justify-content: space-between;
    background-color : rgb(0 0 0 / 0.83);
    position: absolute;
    width: 100%;
}

.nav-base li{
    list-style : none;
    padding: 20px 25px;
}
.nav-base li a{
    color : whitesmoke;
    font-weight: bolder;
    text-decoration: none;
}
