.v-player{
    width: 100%;
    position : fixed;
    height: 90%;
    position: absolute;
}

.video-container{
    margin-top:70px;
    display:inline-block;
}

.play-icon-div{
    width: 100%;
    position : fixed;
    top : 45%;
    z-index: 10;
    text-align: center;
}

.play-icon{
    cursor: pointer;
    width: 50px;
}

.hide{
    display : none;
}