.imagePane{
    margin : 5px;
    /* padding : 5px; */
    height : 390px;
    border-radius: 3px;
    background-color: white;
    justify-content: center;

}

.imagePane:hover{
    transform : scale3d(1.05,1.05,1.05)
}

.image{
    border-radius: 2px;
    width : 214px;
    height : 317px;
}

.btn-icon{
    color : white;
    font-size: 25px;
    width : 20px;
    cursor: pointer;
}

.description{
    margin-top: 4px;
}

.carouselBase{
    overflow-x: auto;
    display: flex;
    width: 100%;
    margin-top:5px;
    height: 390px;
}

.btn{
    position : fixed;
    height : 80px;
}

Link h4{
    text-decoration: none;
}

.btn{
    padding: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 50px;
    color: transparent;
    border: 0;
    position: absolute;
    z-index: 1;
    margin-top:120px;
    outline: 0 none;
    opacity: 1;
    border-radius: 0;
    -webkit-transition: opacity .25s ease,background-color .25s ease;
    transition: opacity .25s ease,background-color .25s ease;
    background-color: rgb(0 0 0 / 0.63);
    
}

.btn-left{
    left:0px;
}

.btn-right{
    right:0px;
}

.imagePane a{
    text-decoration: none ;
    color : initial
}
